<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Website Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>My Website</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Login</h1>
        <form action="login.php"
 
method="post">

            
<label
 
for="username">Username:</label>

            
<input
 
type="text"
 
id="username"
 
name="username">

            
<br>

            
<label
 
for="password">Password:</label>

            
<input
 
type="password"
 
id="password"
 
name="password">

            
<br>

            
<button
 
type="submit">Login</button>

        
</form>

    
</main>


    
<footer>

        
<p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>
